version: 2
updates:
  - package-ecosystem: github-actions
    # maintain workflows in the default location (/.github/workflows/)
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: gradle
    directory: /
    schedule:
      interval: daily
