<plugin name='aws' version='1.2.12.1' grailsVersion='1.3.0 &gt; *'>
  <author>Lucas Teixeira</author>
  <authorEmail>lucastex@gmail.com</authorEmail>
  <title>Grails AWS Plugin</title>
  <description>Amazon Web Services (AWS) grails plugin will provide easy access to simpler functions of AWS</description>
  <documentation>http://blanq.github.com/grails-aws</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>aws.s3.S3TestController</resource>
    <resource>aws.ses.SesTestController</resource>
    <resource>aws.ses.SesTestService</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>