<plugin name='aws' version='1.1.7.1' grailsVersion='1.2.0 &gt; *'>
  <author>Lucas Teixeira</author>
  <authorEmail>lucastex@gmail.com</authorEmail>
  <title>Grails AWS Plugin</title>
  <description>Amazon Web Services (AWS) grails plugin will provide easy access to simpler functions of AWS</description>
  <documentation>http://opensource.blanq.com.br/grails-aws</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>aws.s3.S3TestController</resource>
    <resource>aws.ses.SesTestController</resource>
    <resource>aws.ses.SesTestService</resource>
  </resources>
  <dependencies />
  <behavior>
    <method name='propertyMissing' artefact='Domain' type='java.lang.Integer'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='sesMail' artefact='Controller' type='aws.s3.S3TestController'>
      <description />
      <argument type='groovy.lang.Closure' />
    </method>
    <method name='sesMail' artefact='Controller' type='aws.ses.SesTestController'>
      <description />
      <argument type='groovy.lang.Closure' />
    </method>
    <method name='sesMail' artefact='Service' type='aws.ses.SesTestService'>
      <description />
      <argument type='groovy.lang.Closure' />
    </method>
  </behavior>
</plugin>